*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
}
body{
    background-color: #000;
}
.juego-container{
    width: 100%;
    height: 100%;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div .narrador-container{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.narrador{
    margin: auto;
    position: relative;
    color: wheat;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}
.juego{
    max-width: 500px;
    padding: 30px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    text-align: center;
}

img{
    width: 150px;
    transform: rotate(0);
    transition: transform .3s;
}
.juego h3, .juego div{
    font-size: 40px;
    font-family: sans-serif;
    color: wheat;
    
}
.rotate-izquiera{
    transform: rotate(60deg);
  
}
.rotate-derecha{
    transform: rotate(-90deg);
}
.seleccion{
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
 
}
button{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    flex-grow: 1 1;
}
button:hover{
    background-color: wheat;
}
